# With thanks to https://gist.github.com/weibeld/f136048d0a82aacc063f42e684e3c494
name: build-and-release

on:
  push:
    tags:
      - '**'
    branches:
      # TODO: remove the line below when done testing.
      - use-preinstalled-djgpp-image-in-workflows
permissions:
  contents: write
jobs:
  release-job:
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/volkertb/debian-djgpp:v0.4
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          path: src
          # We need this in order to generate a changelog from the commits between the latest and previous tags
          fetch-depth: 0
      - name: "✏️ Generate release changelog"
        # Run this step only when the commit being pushed is a tag that is prefixed with a `v`.
        if: startsWith(github.ref, 'refs/tags/v')
        id: changelog
        uses: requarks/changelog-action@v1
        with:
          token: ${{ github.token }}
          tag: ${{ github.ref_name }}
          includeInvalidCommits: true
          excludeTypes: ""
      - name: Build project
        run: |
          cd $GITHUB_WORKSPACE/src
          test -f main.c
          make CC=gcc CXX=g++
          test -f output/sbemu.exe
      - name: Combine changelog and user instructions into release notes
        run: |
          # Make sure that CHANGELOG.md exists, create empty file if `Generate release changelog` step was skipped:
          touch $GITHUB_WORKSPACE/CHANGELOG.md
          cat $GITHUB_WORKSPACE/CHANGELOG.md $GITHUB_WORKSPACE/src/user_instructions.md > $GITHUB_WORKSPACE/RELEASE_NOTES.md
      - name: Build FreeDOS SBEMU USB image and ZIP file
        run: |
          $GITHUB_WORKSPACE/src/scripts/build-release-artifacts.sh $GITHUB_WORKSPACE/src/output/sbemu.exe $GITHUB_WORKSPACE/RELEASE_NOTES.md $GITHUB_WORKSPACE/
      - name: Generate release tag
        id: tag
        run: |
          echo "release_tag=Release_${{ github.ref_name }}" >> $GITHUB_OUTPUT
      - name: Release FreeDOS SBEMU USB image
        uses: softprops/action-gh-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ steps.tag.outputs.release_tag }}
          files: |
            ${{ github.workspace }}/SBEMU.zip
            ${{ github.workspace }}/SBEMU-FD13-USB.img.xz
          body_path: ${{ github.workspace }}/RELEASE_NOTES.md
